<div class="course-details-page">
	<form [formGroup]="courseForm"
		  name="courseForm"
		  class="course-form"
		  (submit)="submit(courseForm)">

		<md-input-container>
			<input mdInput
				   placeholder="Title"
				   type="text"
				   name="title"
				   formControlName="title">
			<md-hint *ngIf="courseForm.controls.title.touched &&
							courseForm.controls.title.invalid"
					 class="error-hint"
					 align="end">
					 Title is required. Max length 50 symbols.
			</md-hint>
		</md-input-container>

		<md-input-container class="example-full-width">
			<textarea mdInput
					  name="description"
					  placeholder="Description"
					  formControlName="description"></textarea>
			<md-hint *ngIf="courseForm.controls.description.touched &&
							courseForm.controls.description.invalid"
					 class="error-hint"
					 align="end">
					 Description is required. Max length 500 symbols.
			</md-hint>
		</md-input-container>

		<date-input [createDate]="course.createDate"
					[control]="courseForm.controls.createDate"
					formControlName="createDate"></date-input>

		<duration-input [courseDuration]="course.duration"
						[control]="courseForm.controls.duration"
						formControlName="duration"></duration-input>

		<authors-input [authors]="authors"
					   [control]="courseForm.controls.authors"
					   formControlName="authors"></authors-input>

		<button md-raised-button type="submit"
				[disabled]="courseForm.invalid">Save</button>
		<button md-button>Cancel</button>
	</form>
</div>
