@import "../../../styles/variables/colors.scss";

header {
	height: 70px;
	background-color: $pale-turquoise;
	box-shadow: 0 3px 3px -3px rgba(0,0,0,.2),
				0 4px 7px 0 rgba(0,0,0,.14),
				0 1px 18px 0 rgba(0,0,0,.12);
}

.logo {
	float: left;
	padding: 10px;
}
