@import "../../../styles/variables/colors.scss";

.course-item {
	.mat-card {
		color: $text-color;

		&.fresh {
			border: 1px solid $fresh-course;
		}

		&.upcoming {
			border: 1px solid $upcoming-course;
		}
	}

	&-description {
		color: $black-text;
		margin: 1rem 0;
	}

	&-buttons {
		button {
			margin-bottom: 1rem;
		}

		@media (min-width: 768px) {
			position: relative;

			.btn-container {
				position: absolute;
				right: 0;
			}

			button {
				display: block;
			}
		}
	}

	.star {
		cursor: pointer;
		position: relative;
		top: 2px;
		color: $orange-text;
	}
}
