@import "../../styles/variables/colors.scss";

.courses-page {
	.toolbox {
		margin-bottom: 1rem;
	}

	.add-course {
		width: 100%;
	}

	.courses-list {
		list-style: none;

		li {
			margin-top: 2rem;
		}
	}

	.no-courses {
		font-size: 2rem;
	}

	.add-more-button {
		text-align: center;
		margin-bottom: 2rem;

		button {
			color: $accent-btn-text;
		}
	}
}
