<div class="courses-page">
	<div class="row align-items-center toolbox">
		<find-course [(courses)]="items" class="col-md-10"></find-course>

		<div class="col-md-2">
			<button md-raised-button class="add-course" [routerLink]="'course'">
				Add course</button>
		</div>
	</div>

	<ul class="courses-list" *ngIf="items.length">
		<li *ngFor="let course of items | orderBy : ['createDate'] : ['asc']">
			<course [item]="course" (deleteCourse)="onDelete($event)"></course>
		</li>
	</ul>

	<div class="add-more-button">
		<button md-raised-button color="accent"
				[disabled]="!isMoreCoursesAvailable"
				(click)="getMoreCourses()">
				Add more</button>
	</div>

	<div *ngIf="!items.length" class="no-courses"> No courses found.</div>
</div>
