<div class="courses-page">
	<div class="row align-items-center toolbox">
		<find-course [courses]="items" (find)="onFindCourse($event)" class="col-md-10"></find-course>

		<div class="col-md-2">
			<button md-raised-button class="add-course" [routerLink]="'new'">
				Add course</button>
		</div>
	</div>

	<ul class="courses-list" *ngIf="filteredItems.length">
		<li *ngFor="let course of filteredItems | orderBy : ['createDate'] : ['asc']">
			<course [item]="course" (deleteCourse)="onDelete($event)"></course>
		</li>
	</ul>

	<div class="add-more-button" *ngIf="filteredItems.length">
		<button md-raised-button color="accent"
				[disabled]="!isMoreCoursesAvailable"
				(click)="getMoreCourses(5)">
				Add more</button>
	</div>

	<div *ngIf="!filteredItems.length" class="no-courses"> No courses found.</div>
</div>
